.dx-acc-r .dxeListBoxItemSelected_ThemeAmaszonas .dxHtmlEditor_heEnumIcon_ThemeAmaszonas:before,
.dx-acc-r .dxeListBoxItemSelected_ThemeAmaszonas .dxHtmlEditor_heEventIcon_ThemeAmaszonas:before,
.dx-acc-r .dxeListBoxItemSelected_ThemeAmaszonas .dxHtmlEditor_heFieldIcon_ThemeAmaszonas:before,
.dx-acc-r .dxeListBoxItemSelected_ThemeAmaszonas .dxHtmlEditor_heXmlItemIcon_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsBottom_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsBottomRtl_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOff_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOffRtl_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOn_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOnRtl_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsTop_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsTopRtl_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heEnumIcon_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heErrorFrameCloseButton_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heEventIcon_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heFieldIcon_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heReset_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heSizeGrip_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heSizeGripRtl_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heTagInspectorChangeButton_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heTagInspectorRemoveButton_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heTagInspectorSeparator_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heToolbarPopOut_ThemeAmaszonas:before,
.dx-acc-r .dxHtmlEditor_heXmlItemIcon_ThemeAmaszonas:before,
.dx-acc-r .dxm-hovered .dxHtmlEditor_heToolbarPopOut_ThemeAmaszonas:before

{
    content: url('sprite.svg');

}
.dx-acc-r .dxeListBoxItemSelected_ThemeAmaszonas .dxHtmlEditor_heEnumIcon_ThemeAmaszonas:before

{
    left: -85px;
    top: 0px;

}
.dx-acc-r .dxeListBoxItemSelected_ThemeAmaszonas .dxHtmlEditor_heEventIcon_ThemeAmaszonas:before

{
    left: -17px;
    top: 0px;

}
.dx-acc-r .dxeListBoxItemSelected_ThemeAmaszonas .dxHtmlEditor_heFieldIcon_ThemeAmaszonas:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxeListBoxItemSelected_ThemeAmaszonas .dxHtmlEditor_heXmlItemIcon_ThemeAmaszonas:before

{
    left: -68px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsBottom_ThemeAmaszonas:before

{
    left: -290px;
    top: -10px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsBottomRtl_ThemeAmaszonas:before

{
    left: -272px;
    top: -10px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOff_ThemeAmaszonas:before

{
    left: -217px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOffRtl_ThemeAmaszonas:before

{
    left: -241px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOn_ThemeAmaszonas:before

{
    left: -225px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOnRtl_ThemeAmaszonas:before

{
    left: -233px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsTop_ThemeAmaszonas:before

{
    left: -286px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsTopRtl_ThemeAmaszonas:before

{
    left: -281px;
    top: -10px;

}
.dx-acc-r .dxHtmlEditor_heEnumIcon_ThemeAmaszonas:before

{
    left: -136px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heErrorFrameCloseButton_ThemeAmaszonas:before

{
    left: -249px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heEventIcon_ThemeAmaszonas:before

{
    left: -51px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heFieldIcon_ThemeAmaszonas:before

{
    left: -102px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heReset_ThemeAmaszonas:before

{
    left: -153px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heSizeGrip_ThemeAmaszonas:before

{
    left: -187px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heSizeGripRtl_ThemeAmaszonas:before

{
    left: -202px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heTagInspectorChangeButton_ThemeAmaszonas:before

{
    left: -34px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heTagInspectorRemoveButton_ThemeAmaszonas:before

{
    left: -170px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heTagInspectorSeparator_ThemeAmaszonas:before

{
    left: -280px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heToolbarPopOut_ThemeAmaszonas:before

{
    left: -260px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heXmlItemIcon_ThemeAmaszonas:before

{
    left: -119px;
    top: 0px;

}
.dx-acc-r .dxm-hovered .dxHtmlEditor_heToolbarPopOut_ThemeAmaszonas:before

{
    left: -270px;
    top: 0px;

}
