.dxvgControl_ThemeAmaszonas,
.dxvgDisabled_ThemeAmaszonas
{
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    background-color: White;
    color: #484848;
    cursor: default;
}
.dxvgDisabled_ThemeAmaszonas
{
    color: #b8b8b8;
}
.dxvgControl_ThemeAmaszonas a
{
    color: #35B86B;
    text-decoration: none;
}
.dxvgControl_ThemeAmaszonas a:hover
{
    text-decoration: underline;
}
.dxvgControl_ThemeAmaszonas a:hover.dxbDisabled_ThemeAmaszonas
{
    color: #BBBBBB;
    text-decoration: none;
}
.dxvgDisabled_ThemeAmaszonas a
{
    color: #b8b8b8;
}
.dxvgTable_ThemeAmaszonas
{
    background-color: White;
    border: 1px #dfdfdf solid;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-collapse: separate !important;
    overflow: hidden;
    table-layout: fixed;
}
.dxvgTable_ThemeAmaszonas .dxvgHEC
{
    background-color: White;
    border-width: 0;
    overflow: hidden;
}
.dxvgControl_ThemeAmaszonas .dxvgCSD
{
    border-right: Solid 1px #dfdfdf;
    border-bottom: Solid 1px #dfdfdf;
}
.dxvgCSD .dxvgTable_ThemeAmaszonas
{
    border-right: 0;
}
.dxvgControl_ThemeAmaszonas .dxvgFCW + .dxvgTable_ThemeAmaszonas
{
    border-top: 0;
}
.dxvgControl_ThemeAmaszonas .dxvgCSD .dxvgTable_ThemeAmaszonas,
.dxvgControl_ThemeAmaszonas table[id$='DXFixedTable']
{
    border-bottom: 0;
}
.dxvgControl_ThemeAmaszonas .dxvgCSD + .dxvgSummaryPanel_ThemeAmaszonas,
.dxvgControl_ThemeAmaszonas .dxvgCSD + .dxvgPagerBottomPanel_ThemeAmaszonas,
.dxvgControl_ThemeAmaszonas .dxvgCSD + .dxvgFilterBar_ThemeAmaszonas,
.dxvgControl_ThemeAmaszonas .dxvgCSD + .dxvgStatusBar_ThemeAmaszonas,
.dxvgTable_ThemeAmaszonas + .dxvgSummaryPanel_ThemeAmaszonas,
.dxvgTable_ThemeAmaszonas + .dxvgPagerBottomPanel_ThemeAmaszonas,
.dxvgTable_ThemeAmaszonas + .dxvgFilterBar_ThemeAmaszonas,
.dxvgTable_ThemeAmaszonas + .dxvgStatusBar_ThemeAmaszonas
{
    border-top: 0;
}
.dxvgHeader_ThemeAmaszonas
{
    cursor: pointer;
    color: black;
    font: 14px "Roboto Medium", Helvetica, "Droid Sans", Tahoma, Geneva, sans-serif;
    text-align: left;
    background-color: white;
    padding: 10px 10px 8px;
    border: 1px Solid #DCDCDC;
    border-width: 0 1px 1px 0;
    overflow: hidden;
    white-space: nowrap;
}
.dxvgCategory_ThemeAmaszonas
{
    color: #939393;
    font: 14px "Roboto Medium", Helvetica, "Droid Sans", Tahoma, Geneva, sans-serif;
    background-color: #f4f4f4;
    padding: 9px 10px 10px;
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
    white-space: nowrap;
}
.dxvgCSD .dxvgCategory_ThemeAmaszonas:not(.dxvg__I)
{
    border-right: 1px solid #dfdfdf;
}
.dxvgCategoryRow_ThemeAmaszonas.dxvgER .dxvgCategory_ThemeAmaszonas,
.dxvgCategoryRow_ThemeAmaszonas.dxvgCR .dxvgCategory_ThemeAmaszonas
{
    cursor: pointer;
}
.dxvgCategoryRow_ThemeAmaszonas.dxvgER .dxvgCategory_ThemeAmaszonas.dxvg__I,
.dxvgCategoryRow_ThemeAmaszonas.dxvgCR .dxvgCategory_ThemeAmaszonas.dxvg__I
{
    cursor: default;
}
.dxvgRecord_ThemeAmaszonas
{
    padding: 8px 10px 9px;
    border: 1px Solid #dfdfdf;
    border-width: 0 1px 1px 0;
    overflow: hidden;
}
.dxvgRecord_ThemeAmaszonas:last-child
{
    border-right-width: 0;
}
.dxvgRPFC .dxvgRecord_ThemeAmaszonas
{
    border-bottom: 1px Solid #DCDCDC;
}
.dxvgGLNV .dxvgRecord_ThemeAmaszonas
{
    border-right-width: 0;
}
.dxvgGLNH .dxvgRecord_ThemeAmaszonas
{
    border-bottom-width: 0;
}
.dxvgGLNH .dxvgRPFC .dxvgRecord_ThemeAmaszonas
{
    border-bottom-width: 1px;
}
.dxvgGLNH .dxvgRPFC.dxvgER .dxvgRecord_ThemeAmaszonas
{
    border-bottom-width: 0;
}
.dxvgFC .dxvgGLNH tr:last-child .dxvgRecord_ThemeAmaszonas
{
    border-bottom-width: 1px;
}
.dxvgRecordAlt_ThemeAmaszonas
{
    background-color: #f5f5f5;
}
/* Select, Hover */
.dxvgSelectedRecord_ThemeAmaszonas,
.dxvgSelectedRecord_ThemeAmaszonas.dxvgDataRowHover_ThemeAmaszonas
{
    background-color: #f1f1f1;
}
.dxvgDataRowHover_ThemeAmaszonas .dxvgRecord_ThemeAmaszonas
{
    background-color: #eeeeee;
}
/* Command Items */
.dxvgCommandCell_ThemeAmaszonas
{
    padding: 8px 4px;
}
.dxvgCommandCell_ThemeAmaszonas a,
.dxvgHeader_ThemeAmaszonas a.dxvgCommandItem_ThemeAmaszonas
{
    margin: 0 5px 0 0;
}
.dxvgHeader_ThemeAmaszonas a,
.dxvgCommandCell_ThemeAmaszonas a
{
    color: #35B86B;
}
.dxbButton_ThemeAmaszonas[class~="dxvgCommandItem_ThemeAmaszonas"]
{
    margin-left: 5px;
    margin-right: 5px;
}
.dxbButton_ThemeAmaszonas[class~="dxvgCommandItem_ThemeAmaszonas"] .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
/* Indents */
.dxvgControl_ThemeAmaszonas .dxvg__I
{
    border-style: solid;
    border-color: #DCDCDC;
    border-width: 0 1px 0 0;
    cursor: default;
    box-shadow: none;
}
.dxvgControl_ThemeAmaszonas .dxvg__I.dxvg__BB
{
    border-bottom-width: 1px;
}
.dxvgControl_ThemeAmaszonas .dxvgER .dxvg__I.dxvg__BB
{
    border-bottom-width: 0;
}
.dxvgControl_ThemeAmaszonas .dxvgMHI .dxvg__I
{
    border-right-width: 0;
}
.dxvgControl_ThemeAmaszonas .dxvgMHI .dxvgER .dxvg__I.dxvg__BB
{
    border-bottom-width: 1px;
}
/* Title Panel, Status bar, Summary Panel */
.dxvgTitlePanel_ThemeAmaszonas,
.dxvgTable_ThemeAmaszonas caption
{
    font-size: 1.25em;
    font-weight: normal;
    padding: 3px 3px 5px;
    text-align: center;
    color: #999999;
}
.dxvgStatusBar_ThemeAmaszonas
{
    border-top: 1px Solid #dfdfdf;
}
.dxvgStatusBar_ThemeAmaszonas tr.dxvg
{
    height: 20px;
}
.dxvgStatusBar_ThemeAmaszonas tr.dxvg > td
{
    padding: 24px 0;
}
.dxvgStatusBar_ThemeAmaszonas tr.dxvg span .dxbButtonSys:first-child
{
    margin-left: 20px;
}
.dxvgSummaryPanel_ThemeAmaszonas
{
    border: 1px solid #dfdfdf;
    background-color: #f4f4f4;
    color: #8e8e93;
    padding: 5px 21px 4px;
}
.dxvgSummaryItem_ThemeAmaszonas
{
    display: inline-block;
    margin: 5px 8px 5px 0;
}
/* Pager */
.dxvgPagerTopPanel_ThemeAmaszonas,
.dxvgPagerBottomPanel_ThemeAmaszonas
{
    padding: 3px 0 1px;
}
.dxvgPagerBottomPanel_ThemeAmaszonas
{
    background-color: white;
    border-bottom: 1px Solid #dfdfdf;
    border-left: 1px Solid #dfdfdf;
    border-right: 1px Solid #dfdfdf;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    border-top: 1px Solid #dfdfdf;
}
.dxvgSummaryPanel_ThemeAmaszonas + .dxvgPagerBottomPanel_ThemeAmaszonas
{
    border-top-width: 0;
}
.dxvgControl_ThemeAmaszonas .dxpLite_ThemeAmaszonas,
.dxvgDisabled_ThemeAmaszonas .dxpLite_ThemeAmaszonas
{
    padding-top: 4px;
}
/* Filter Builder, Filter Bar */
.dxvgFilterBar_ThemeAmaszonas
{
    margin-top: 16px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    border-collapse: separate;
}
.dxvgFilterBar_ThemeAmaszonas a
{
    color: #35B86B;
    text-decoration: none;
}
.dxvgFilterBar_ThemeAmaszonas a:hover
{
    text-decoration: underline;
}
.dxvgFilterBar_ThemeAmaszonas > tbody > tr > td
{
    padding-top: 6px;
    padding-bottom: 6px;
}
.dxvgFilterBarCheckBoxCell_ThemeAmaszonas
{
    padding-left: 8px;
}
*[dir="rtl"] .dxvgFilterBarCheckBoxCell_ThemeAmaszonas
{
    padding-right: 8px;
}
.dxvgFilterBarImageCell_ThemeAmaszonas
{
    padding: 0 8px 0 20px;
    cursor: pointer;
}
*[dir="rtl"] .dxvgFilterBarImageCell_ThemeAmaszonas
{
    padding: 0 20px 0 8px;
}
.dxvgFilterBarImageCell_ThemeAmaszonas img
{
    margin-top: 3px;
    margin-left: 0;
}
.dxvgFilterBarExpressionCell_ThemeAmaszonas
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxvgFilterBarClearButtonCell_ThemeAmaszonas
{
    padding: 5px 20px 8px 6px;
}
*[dir="rtl"] .dxvgFilterBarClearButtonCell_ThemeAmaszonas
{
    padding: 5px 6px 8px 20px;
}
.dxvgFilterBuilderMainArea_ThemeAmaszonas
{
    background: white none;
    padding: 6px 2px;
}
.dxvgFilterBuilderButtonArea_ThemeAmaszonas
{
    border-top: 1px solid #eaeaea;
    padding: 10px;
    white-space: nowrap;
}
.dxvgFilterBuilderButtonArea_ThemeAmaszonas .dxbButton_ThemeAmaszonas
{
    margin-left: 8px;
}
/* Header Filter */
.dxvgControl_ThemeAmaszonas .dxpcLite_ThemeAmaszonas .dxpc-footerContent > table
{
    margin: 13px 20px 11px 0px;
}
.dxvgControl_ThemeAmaszonas .dxpcLite_ThemeAmaszonas .dxpc-footerContent
{
    padding: 12px 20px 7px 12px;
}
.dxvgControl_ThemeAmaszonas .dxvgHFSAC
{
    padding: 9px 0 0 4px;
}
.dxvgControl_ThemeAmaszonas .dxvgHFC
{
    padding-left: 4px;
}
.dxvgControl_ThemeAmaszonas .dxvgHFC .dxeCalendar_ThemeAmaszonas
{
    margin-top: 3px;
    margin-left: 7px;
}
.dxvgControl_ThemeAmaszonas .dxvgHFSC
{
    padding: 9px 0 6px;
}
.dxvgControl_ThemeAmaszonas .dxvgHFSC div
{
    height: 1px;
    background: #c0c0c0;
}
.dxvgControl_ThemeAmaszonas div[id$='DXEPLPC']
{
    height: 53px;
}
.dxvgControl_ThemeAmaszonas .dxvgHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxvgControl_ThemeAmaszonas .dxvgHFDRC
{
    margin: 15px 15px 25px;
}
.dxvgControl_ThemeAmaszonas .dxvgHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxvgControl_ThemeAmaszonas .dxvgHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxvgControl_ThemeAmaszonas .dxvgHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}
/* Batch Edit */
.dxvgControl_ThemeAmaszonas td.dxvgBatchEditCell_ThemeAmaszonas
{
    padding: 0 2px;
}
.dxvgControl_ThemeAmaszonas td.dxvgBatchEditModifiedCell_ThemeAmaszonas
{
    background: #d7f9c7;
}
.dxvgBatchEditDeletedItem_ThemeAmaszonas,
.dxvgBatchEditNewItem_ThemeAmaszonas.dxvgBatchEditDeletedItem_ThemeAmaszonas
{
    background: #EFEFEF;
}
td.dxvgBatchEditDeletedItem_ThemeAmaszonas:not(.dxvgCommandColumn_ThemeAmaszonas)
{
    color: rgba(0,0,0,0.5);
}
.dxvgBatchEditDeletedItem_ThemeAmaszonas.dxvgBatchEditModifiedCell_ThemeAmaszonas
{
    background: #eefbe7 !important;
}
.dxvgBatchEditNewItem_ThemeAmaszonas
{
    background: #F0FAEA;
}
.dxvgControl_ThemeAmaszonas .dxvgErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxvgControl_ThemeAmaszonas .dxvgErrorCell img
{
    margin: -3px 0;
}
.dxvgStatusBar_ThemeAmaszonas .dxbButton_ThemeAmaszonas
{
    margin-right: 10px;
}
.dxvgControl_ThemeAmaszonas td.dxvgBatchEditCell_ThemeAmaszonas .dxichCellSys
{
    padding-left: 0;
}
.dxvgRecordError_ThemeAmaszonas
{
    background-color: #FFC8C8;
    color: #FF0000;
    padding: 6px 10px;
    height: 100%;
}
.dxvgERV .dxvgRecord_ThemeAmaszonas
{
    display: none;
}
.dxvgEmptyRecord_ThemeAmaszonas
{
    display: none;
    text-align: center;
}
.dxvgERV .dxvgEmptyRecord_ThemeAmaszonas
{
    display: table-cell;
}
/* LoadingPanel */
.dxvgLoadingPanel_ThemeAmaszonas
{
    background-color: white;
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #484848;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxvgLoadingPanel_ThemeAmaszonas td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxvgLoadingPanel_ThemeAmaszonas .dxlp-loadingImage
{
    border-radius: 50%;
    animation: dxSpin 1s linear infinite;
    border: 4px solid #35B86B;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
html.dxIE.dxBrowserVersion-9 .dxvgLoadingPanel_ThemeAmaszonas .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    animation: none;
    border: none;
    border-radius: 0;
}
.dxvgLoadingPanelStatusBar_ThemeAmaszonas
{
    background-color: Transparent;
}
.dxvgLoadingPanelStatusBar_ThemeAmaszonas td
{
    white-space: nowrap;
    text-align: center;
    padding: 0px 2px;
}
.dxvgLoadingPanelStatusBar_ThemeAmaszonas .dxlp-loadingImage
{
    background-image: url('../GridView/gvLoadingOnStatusBar.gif');
    height: 16px;
    width: 16px;
}
/* Search Panel */
.dxvgSearchPanel_ThemeAmaszonas
{
    padding: 7px 0 16px;
}
.dxvgSearchPanel_ThemeAmaszonas > table
{
    width: 100%;
}
.dxvgSearchPanel_ThemeAmaszonas .dxeButtonEdit_ThemeAmaszonas
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    width: 100%;
}
.dxvgSearchPanel_ThemeAmaszonas .dxeButtonEdit_ThemeAmaszonas,
.dxvgSearchPanel_ThemeAmaszonas .dxeButtonEdit_ThemeAmaszonas input
{
    background-color: #FAFAFA;
}
.dxvgSearchPanel_ThemeAmaszonas .dxeButtonEdit_ThemeAmaszonas td.dxic
{
    padding: 13px 8px 14px 12px;
}
*[dir="rtl"] .dxvgSearchPanel_ThemeAmaszonas .dxeButtonEdit_ThemeAmaszonas td.dxic
{
    padding: 13px 12px 14px 8px;
}
.dxvgControl_ThemeAmaszonas .dxvgSearchPanel_ThemeAmaszonas .dxbButton_ThemeAmaszonas
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxvgControl_ThemeAmaszonas .dxvgSearchPanel_ThemeAmaszonas .dxbButton_ThemeAmaszonas
{
    margin-left: 0;
    margin-right: 7px;
}
.dxvgControl_ThemeAmaszonas .dxvgHL
{
    background: #35B86B;
    color: white;
    font-weight: bold;
    font-style: normal;
}
/* Removes flicking in Material Safari*/
.dxvgTable_ThemeAmaszonas
{
    -webkit-tap-highlight-color: transparent;
}
.dxvgRecord_ThemeAmaszonas .dxICheckBox_ThemeAmaszonas,
.dxvgRecord_ThemeAmaszonas .dxeIRadioButton_ThemeAmaszonas
{
    margin: 0 10px 0 10px;
}
.dxvgFocusedCell_ThemeAmaszonas
{
    box-shadow: inset 2px 2px 0 #dfdfdf, inset -2px -2px 0 #dfdfdf;
    -webkit-box-shadow: inset 2px 2px 0 #dfdfdf, inset -2px -2px 0 #dfdfdf;
    -moz-box-shadow: inset 2px 2px 0 #dfdfdf, inset -2px -2px 0 #dfdfdf;
}
/* Ripple */
.dxvgControl_ThemeAmaszonas .dxvgTable_ThemeAmaszonas .dxvgHeader_ThemeAmaszonas::before,
.dxvgControl_ThemeAmaszonas .dxvgCustomization_ThemeAmaszonas .dxvgHeader_ThemeAmaszonas::before
{
    content: "dxRippleTarget";
    display: none;
}
