.dxGridView_CTClearFilter_ThemeAmaszonas,
.dxGridView_CTClearFilterDisabled_ThemeAmaszonas,
.dxGridView_CTClearGrouping_ThemeAmaszonas,
.dxGridView_CTClearGroupingDisabled_ThemeAmaszonas,
.dxGridView_CTCollapseDetailRow_ThemeAmaszonas,
.dxGridView_CTCollapseDetailRowDisabled_ThemeAmaszonas,
.dxGridView_CTCollapseRow_ThemeAmaszonas,
.dxGridView_CTCollapseRowDisabled_ThemeAmaszonas,
.dxGridView_CTDeleteRow_ThemeAmaszonas,
.dxGridView_CTDeleteRowDisabled_ThemeAmaszonas,
.dxGridView_CTEditRow_ThemeAmaszonas,
.dxGridView_CTEditRowDisabled_ThemeAmaszonas,
.dxGridView_CTExpandDetailRow_ThemeAmaszonas,
.dxGridView_CTExpandDetailRowDisabled_ThemeAmaszonas,
.dxGridView_CTExpandRow_ThemeAmaszonas,
.dxGridView_CTExpandRowDisabled_ThemeAmaszonas,
.dxGridView_CTFullCollapse_ThemeAmaszonas,
.dxGridView_CTFullCollapseDisabled_ThemeAmaszonas,
.dxGridView_CTFullExpand_ThemeAmaszonas,
.dxGridView_CTFullExpandDisabled_ThemeAmaszonas,
.dxGridView_CTNewRow_ThemeAmaszonas,
.dxGridView_CTNewRowDisabled_ThemeAmaszonas,
.dxGridView_CTRefresh_ThemeAmaszonas,
.dxGridView_CTRefreshDisabled_ThemeAmaszonas,
.dxGridView_CTShowCustDialog_ThemeAmaszonas,
.dxGridView_CTShowCustDialogDisabled_ThemeAmaszonas,
.dxGridView_CTShowCustomizationWindow_ThemeAmaszonas,
.dxGridView_CTShowCustomizationWindowDisabled_ThemeAmaszonas,
.dxGridView_CTShowFilterEditor_ThemeAmaszonas,
.dxGridView_CTShowFilterEditorDisabled_ThemeAmaszonas,
.dxGridView_CTShowGroupPanel_ThemeAmaszonas,
.dxGridView_CTShowGroupPanelDisabled_ThemeAmaszonas,
.dxGridView_CTShowSearchPanel_ThemeAmaszonas,
.dxGridView_CTShowSearchPanelDisabled_ThemeAmaszonas,
.dxGridView_gvCellError_ThemeAmaszonas,
.dxGridView_gvCMClearFilter_ThemeAmaszonas,
.dxGridView_gvCMClearFilterDisabled_ThemeAmaszonas,
.dxGridView_gvCMClearGrouping_ThemeAmaszonas,
.dxGridView_gvCMClearGroupingDisabled_ThemeAmaszonas,
.dxGridView_gvCMCollapseDetailRow_ThemeAmaszonas,
.dxGridView_gvCMCollapseDetailRowDisabled_ThemeAmaszonas,
.dxGridView_gvCMCollapseRow_ThemeAmaszonas,
.dxGridView_gvCMCollapseRowDisabled_ThemeAmaszonas,
.dxGridView_gvCMDeleteRow_ThemeAmaszonas,
.dxGridView_gvCMDeleteRowDisabled_ThemeAmaszonas,
.dxGridView_gvCMEditRow_ThemeAmaszonas,
.dxGridView_gvCMEditRowDisabled_ThemeAmaszonas,
.dxGridView_gvCMExpandDetailRow_ThemeAmaszonas,
.dxGridView_gvCMExpandDetailRowDisabled_ThemeAmaszonas,
.dxGridView_gvCMExpandRow_ThemeAmaszonas,
.dxGridView_gvCMExpandRowDisabled_ThemeAmaszonas,
.dxGridView_gvCMFullCollapse_ThemeAmaszonas,
.dxGridView_gvCMFullCollapseDisabled_ThemeAmaszonas,
.dxGridView_gvCMFullExpand_ThemeAmaszonas,
.dxGridView_gvCMFullExpandDisabled_ThemeAmaszonas,
.dxGridView_gvCMGroupByColumn_ThemeAmaszonas,
.dxGridView_gvCMGroupByColumnDisabled_ThemeAmaszonas,
.dxGridView_gvCMNewRow_ThemeAmaszonas,
.dxGridView_gvCMNewRowDisabled_ThemeAmaszonas,
.dxGridView_gvCMRefresh_ThemeAmaszonas,
.dxGridView_gvCMRefreshDisabled_ThemeAmaszonas,
.dxGridView_gvCMSearchPanel_ThemeAmaszonas,
.dxGridView_gvCMSearchPanelDisabled_ThemeAmaszonas,
.dxGridView_gvCMShowCustDialog_ThemeAmaszonas,
.dxGridView_gvCMShowCustDialogDisabled_ThemeAmaszonas,
.dxGridView_gvCMShowCustomizationWindow_ThemeAmaszonas,
.dxGridView_gvCMShowCustomizationWindowDisabled_ThemeAmaszonas,
.dxGridView_gvCMShowFilterEditor_ThemeAmaszonas,
.dxGridView_gvCMShowFilterEditorDisabled_ThemeAmaszonas,
.dxGridView_gvCMShowGroupPanel_ThemeAmaszonas,
.dxGridView_gvCMShowGroupPanelDisabled_ThemeAmaszonas,
.dxGridView_gvCMShowSearchPanel_ThemeAmaszonas,
.dxGridView_gvCMShowSearchPanelDisabled_ThemeAmaszonas,
.dxGridView_gvCMSortAscending_ThemeAmaszonas,
.dxGridView_gvCMSortAscendingDisabled_ThemeAmaszonas,
.dxGridView_gvCMSortDescending_ThemeAmaszonas,
.dxGridView_gvCMSortDescendingDisabled_ThemeAmaszonas,
.dxGridView_gvCMSummaryAverage_ThemeAmaszonas,
.dxGridView_gvCMSummaryAverageDisabled_ThemeAmaszonas,
.dxGridView_gvCMSummaryCount_ThemeAmaszonas,
.dxGridView_gvCMSummaryCountDisabled_ThemeAmaszonas,
.dxGridView_gvCMSummaryMax_ThemeAmaszonas,
.dxGridView_gvCMSummaryMaxDisabled_ThemeAmaszonas,
.dxGridView_gvCMSummaryMin_ThemeAmaszonas,
.dxGridView_gvCMSummaryMinDisabled_ThemeAmaszonas,
.dxGridView_gvCMSummarySum_ThemeAmaszonas,
.dxGridView_gvCMSummarySumDisabled_ThemeAmaszonas,
.dxGridView_gvCMUngroupColumn_ThemeAmaszonas,
.dxGridView_gvCOApply_ThemeAmaszonas,
.dxGridView_gvCOApplyDisabled_ThemeAmaszonas,
.dxGridView_gvCOClearFilter_ThemeAmaszonas,
.dxGridView_gvCOClearFilterDisabled_ThemeAmaszonas,
.dxGridView_gvCOClose_ThemeAmaszonas,
.dxGridView_gvCOColumnDrag_ThemeAmaszonas,
.dxGridView_gvCOColumnDragDisabled_ThemeAmaszonas,
.dxGridView_gvCOColumnGroup_ThemeAmaszonas,
.dxGridView_gvCOColumnGroupDisabled_ThemeAmaszonas,
.dxGridView_gvCOColumnHide_ThemeAmaszonas,
.dxGridView_gvCOColumnHideDisabled_ThemeAmaszonas,
.dxGridView_gvCOColumnRemove_ThemeAmaszonas,
.dxGridView_gvCOColumnRemoveDisabled_ThemeAmaszonas,
.dxGridView_gvCOColumnShow_ThemeAmaszonas,
.dxGridView_gvCOColumnShowDisabled_ThemeAmaszonas,
.dxGridView_gvCOColumnSort_ThemeAmaszonas,
.dxGridView_gvCOColumnSortDisabled_ThemeAmaszonas,
.dxGridView_gvCOColumnSortDown_ThemeAmaszonas,
.dxGridView_gvCOColumnSortDownDisabled_ThemeAmaszonas,
.dxGridView_gvCOColumnSortUp_ThemeAmaszonas,
.dxGridView_gvCOColumnSortUpDisabled_ThemeAmaszonas,
.dxGridView_gvCOColumnUngroup_ThemeAmaszonas,
.dxGridView_gvCOColumnUngroupDisabled_ThemeAmaszonas,
.dxGridView_gvCOColumnUnsort_ThemeAmaszonas,
.dxGridView_gvCOColumnUnsortDisabled_ThemeAmaszonas,
.dxGridView_gvCODragAreaCollapse_ThemeAmaszonas,
.dxGridView_gvCODragAreaExpand_ThemeAmaszonas,
.dxGridView_gvCOFilterCollapse_ThemeAmaszonas,
.dxGridView_gvCOFilterExpand_ThemeAmaszonas,
.dxGridView_gvCollapsedButton_ThemeAmaszonas,
.dxGridView_gvCollapsedButtonRtl_ThemeAmaszonas,
.dxGridView_gvDetailCollapsedButton_ThemeAmaszonas,
.dxGridView_gvDetailCollapsedButtonRtl_ThemeAmaszonas,
.dxGridView_gvDetailExpandedButton_ThemeAmaszonas,
.dxGridView_gvDetailExpandedButtonRtl_ThemeAmaszonas,
.dxGridView_gvDragAndDropArrowDown_ThemeAmaszonas,
.dxGridView_gvDragAndDropArrowLeft_ThemeAmaszonas,
.dxGridView_gvDragAndDropArrowRight_ThemeAmaszonas,
.dxGridView_gvDragAndDropArrowUp_ThemeAmaszonas,
.dxGridView_gvDragAndDropHideColumn_ThemeAmaszonas,
.dxGridView_gvExpandedButton_ThemeAmaszonas,
.dxGridView_gvExpandedButtonRtl_ThemeAmaszonas,
.dxGridView_gvFilterRowButton_ThemeAmaszonas,
.dxGridView_gvFixedGroupRow_ThemeAmaszonas,
.dxGridView_gvHeaderFilter_ThemeAmaszonas,
.dxGridView_gvHeaderFilterActive_ThemeAmaszonas,
.dxGridView_gvHeaderSortDown_ThemeAmaszonas,
.dxGridView_gvHeaderSortUp_ThemeAmaszonas,
.dxGridView_gvHideAdaptiveDetailButton_ThemeAmaszonas,
.dxGridView_gvParentGroupRows_ThemeAmaszonas,
.dxGridView_gvShowAdaptiveDetailButton_ThemeAmaszonas,
.dxGridView_WindowResizer_ThemeAmaszonas,
.dxGridView_WindowResizerRtl_ThemeAmaszonas,
.dxgvFocusedGroupRow_ThemeAmaszonas .dxGridView_gvCollapsedButton_ThemeAmaszonas,
.dxgvFocusedGroupRow_ThemeAmaszonas .dxGridView_gvCollapsedButtonRtl_ThemeAmaszonas,
.dxgvFocusedGroupRow_ThemeAmaszonas .dxGridView_gvDetailCollapsedButton_ThemeAmaszonas,
.dxgvFocusedGroupRow_ThemeAmaszonas .dxGridView_gvDetailCollapsedButtonRtl_ThemeAmaszonas,
.dxgvFocusedGroupRow_ThemeAmaszonas .dxGridView_gvDetailExpandedButton_ThemeAmaszonas,
.dxgvFocusedGroupRow_ThemeAmaszonas .dxGridView_gvDetailExpandedButtonRtl_ThemeAmaszonas,
.dxgvFocusedGroupRow_ThemeAmaszonas .dxGridView_gvExpandedButton_ThemeAmaszonas,
.dxgvFocusedGroupRow_ThemeAmaszonas .dxGridView_gvExpandedButtonRtl_ThemeAmaszonas,
.dxgvFocusedRow_ThemeAmaszonas .dxGridView_gvShowAdaptiveDetailButton_ThemeAmaszonas,
.dxm-checked .dxGridView_CTShowCustomizationWindow_ThemeAmaszonas,
.dxm-checked .dxGridView_CTShowGroupPanel_ThemeAmaszonas,
.dxm-checked .dxGridView_CTShowSearchPanel_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMClearFilter_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMClearGrouping_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMCollapseDetailRow_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMCollapseRow_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMDeleteRow_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMEditRow_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMExpandDetailRow_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMExpandRow_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMFullCollapse_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMFullExpand_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMGroupByColumn_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMNewRow_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMRefresh_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMSearchPanel_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMShowCustomizationWindow_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMShowFilterEditor_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMShowGroupPanel_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMShowSearchPanel_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMSortAscending_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMSortDescending_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMSummaryAverage_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMSummaryCount_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMSummaryMax_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMSummaryMin_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMSummarySum_ThemeAmaszonas,
.dxm-checked .dxGridView_gvCMUngroupColumn_ThemeAmaszonas
{
    background-image: url('sprite.svg');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxGridView_CTClearFilter_ThemeAmaszonas
{
    background-position: -119px -103px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTClearFilterDisabled_ThemeAmaszonas
{
    background-position: -170px -154px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTClearGrouping_ThemeAmaszonas
{
    background-position: -34px -103px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTClearGroupingDisabled_ThemeAmaszonas
{
    background-position: -119px -69px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTCollapseDetailRow_ThemeAmaszonas
{
    background-position: -153px -69px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTCollapseDetailRowDisabled_ThemeAmaszonas
{
    background-position: -153px -137px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTCollapseRow_ThemeAmaszonas
{
    background-position: -34px -205px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTCollapseRowDisabled_ThemeAmaszonas
{
    background-position: -102px -69px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTDeleteRow_ThemeAmaszonas
{
    background-position: -17px -154px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTDeleteRowDisabled_ThemeAmaszonas
{
    background-position: -136px -137px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTEditRow_ThemeAmaszonas
{
    background-position: -187px -69px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTEditRowDisabled_ThemeAmaszonas
{
    background-position: -34px -188px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExpandDetailRow_ThemeAmaszonas
{
    background-position: -102px -86px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExpandDetailRowDisabled_ThemeAmaszonas
{
    background-position: -17px -86px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExpandRow_ThemeAmaszonas
{
    background-position: 0px -171px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExpandRowDisabled_ThemeAmaszonas
{
    background-position: -17px -120px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTFullCollapse_ThemeAmaszonas
{
    background-position: -85px -171px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTFullCollapseDisabled_ThemeAmaszonas
{
    background-position: -51px -188px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTFullExpand_ThemeAmaszonas
{
    background-position: -51px -86px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTFullExpandDisabled_ThemeAmaszonas
{
    background-position: 0px -103px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTNewRow_ThemeAmaszonas
{
    background-position: -34px -120px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTNewRowDisabled_ThemeAmaszonas
{
    background-position: 0px -86px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTRefresh_ThemeAmaszonas
{
    background-position: -204px -120px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTRefreshDisabled_ThemeAmaszonas
{
    background-position: -17px -205px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowCustDialog_ThemeAmaszonas
{
    background-position: -85px -137px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowCustDialogDisabled_ThemeAmaszonas
{
    background-position: 0px -120px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowCustomizationWindow_ThemeAmaszonas
{
    background-position: -102px -188px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowCustomizationWindowDisabled_ThemeAmaszonas
{
    background-position: -102px -171px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowFilterEditor_ThemeAmaszonas
{
    background-position: -105px -222px;
    width: 14px;
    height: 14px;
}
.dxGridView_CTShowFilterEditorDisabled_ThemeAmaszonas
{
    background-position: -207px 0px;
    width: 14px;
    height: 14px;
}
.dxGridView_CTShowGroupPanel_ThemeAmaszonas
{
    background-position: -187px -86px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowGroupPanelDisabled_ThemeAmaszonas
{
    background-position: -68px -205px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowSearchPanel_ThemeAmaszonas
{
    background-position: -60px -222px;
    width: 14px;
    height: 14px;
}
.dxGridView_CTShowSearchPanelDisabled_ThemeAmaszonas
{
    background-position: -204px -86px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCellError_ThemeAmaszonas
{
    background-position: -45px -222px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMClearFilter_ThemeAmaszonas
{
    background-position: -204px -154px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearFilterDisabled_ThemeAmaszonas
{
    background-position: -34px -171px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGrouping_ThemeAmaszonas
{
    background-position: 0px -188px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGroupingDisabled_ThemeAmaszonas
{
    background-position: -85px -103px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseDetailRow_ThemeAmaszonas
{
    background-position: -34px -86px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseDetailRowDisabled_ThemeAmaszonas
{
    background-position: -85px -120px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseRow_ThemeAmaszonas
{
    background-position: -170px -69px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseRowDisabled_ThemeAmaszonas
{
    background-position: -102px -154px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMDeleteRow_ThemeAmaszonas
{
    background-position: -170px -137px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMDeleteRowDisabled_ThemeAmaszonas
{
    background-position: -68px -171px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMEditRow_ThemeAmaszonas
{
    background-position: -68px -103px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMEditRowDisabled_ThemeAmaszonas
{
    background-position: -68px -154px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandDetailRow_ThemeAmaszonas
{
    background-position: -17px -69px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandDetailRowDisabled_ThemeAmaszonas
{
    background-position: -51px -69px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandRow_ThemeAmaszonas
{
    background-position: -136px -86px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandRowDisabled_ThemeAmaszonas
{
    background-position: -187px -137px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullCollapse_ThemeAmaszonas
{
    background-position: -153px -103px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullCollapseDisabled_ThemeAmaszonas
{
    background-position: -136px -171px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullExpand_ThemeAmaszonas
{
    background-position: 0px -69px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullExpandDisabled_ThemeAmaszonas
{
    background-position: -153px -154px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMGroupByColumn_ThemeAmaszonas
{
    background-position: -34px -69px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMGroupByColumnDisabled_ThemeAmaszonas
{
    background-position: -119px -154px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMNewRow_ThemeAmaszonas
{
    background-position: -17px -171px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMNewRowDisabled_ThemeAmaszonas
{
    background-position: -136px -154px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMRefresh_ThemeAmaszonas
{
    background-position: -204px -188px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMRefreshDisabled_ThemeAmaszonas
{
    background-position: 0px -137px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSearchPanel_ThemeAmaszonas
{
    background-position: -138px -205px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMSearchPanelDisabled_ThemeAmaszonas
{
    background-position: -85px -154px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustDialog_ThemeAmaszonas
{
    background-position: -136px -188px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustDialogDisabled_ThemeAmaszonas
{
    background-position: -204px -69px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustomizationWindow_ThemeAmaszonas
{
    background-position: -51px -154px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustomizationWindowDisabled_ThemeAmaszonas
{
    background-position: -170px -188px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowFilterEditor_ThemeAmaszonas
{
    background-position: -75px -222px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMShowFilterEditorDisabled_ThemeAmaszonas
{
    background-position: -207px -23px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMShowGroupPanel_ThemeAmaszonas
{
    background-position: -170px -120px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowGroupPanelDisabled_ThemeAmaszonas
{
    background-position: 0px -205px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowSearchPanel_ThemeAmaszonas
{
    background-position: -198px -205px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMShowSearchPanelDisabled_ThemeAmaszonas
{
    background-position: -85px -86px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortAscending_ThemeAmaszonas
{
    background-position: -153px -188px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortAscendingDisabled_ThemeAmaszonas
{
    background-position: -102px -137px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortDescending_ThemeAmaszonas
{
    background-position: -34px -137px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortDescendingDisabled_ThemeAmaszonas
{
    background-position: -136px -69px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryAverage_ThemeAmaszonas
{
    background-position: -51px -171px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryAverageDisabled_ThemeAmaszonas
{
    background-position: -119px -171px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryCount_ThemeAmaszonas
{
    background-position: -119px -120px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryCountDisabled_ThemeAmaszonas
{
    background-position: -153px -86px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMax_ThemeAmaszonas
{
    background-position: -102px -120px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMaxDisabled_ThemeAmaszonas
{
    background-position: -51px -103px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMin_ThemeAmaszonas
{
    background-position: -68px -188px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMinDisabled_ThemeAmaszonas
{
    background-position: -187px -188px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummarySum_ThemeAmaszonas
{
    background-position: -51px -205px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummarySumDisabled_ThemeAmaszonas
{
    background-position: -85px -188px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMUngroupColumn_ThemeAmaszonas
{
    background-position: -85px -69px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCOApply_ThemeAmaszonas
{
    background-position: -92px -46px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOApplyDisabled_ThemeAmaszonas
{
    background-position: -138px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOClearFilter_ThemeAmaszonas
{
    background-position: -161px -46px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOClearFilterDisabled_ThemeAmaszonas
{
    background-position: -161px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOClose_ThemeAmaszonas
{
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnDrag_ThemeAmaszonas
{
    background-position: -203px -46px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCOColumnDragDisabled_ThemeAmaszonas
{
    background-position: -184px -46px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCOColumnGroup_ThemeAmaszonas
{
    background-position: -46px -46px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnGroupDisabled_ThemeAmaszonas
{
    background-position: -115px -46px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnHide_ThemeAmaszonas
{
    background-position: -161px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnHideDisabled_ThemeAmaszonas
{
    background-position: -46px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnRemove_ThemeAmaszonas
{
    background-position: 0px -46px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnRemoveDisabled_ThemeAmaszonas
{
    background-position: -184px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnShow_ThemeAmaszonas
{
    background-position: -138px -46px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnShowDisabled_ThemeAmaszonas
{
    background-position: -69px -46px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnSort_ThemeAmaszonas
{
    background-position: 0px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnSortDisabled_ThemeAmaszonas
{
    background-position: -115px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnSortDown_ThemeAmaszonas
{
    background-position: -92px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnSortDownDisabled_ThemeAmaszonas
{
    background-position: -23px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnSortUp_ThemeAmaszonas
{
    background-position: -69px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnSortUpDisabled_ThemeAmaszonas
{
    background-position: -138px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnUngroup_ThemeAmaszonas
{
    background-position: -23px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnUngroupDisabled_ThemeAmaszonas
{
    background-position: -46px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnUnsort_ThemeAmaszonas
{
    background-position: -92px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnUnsortDisabled_ThemeAmaszonas
{
    background-position: -184px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCODragAreaCollapse_ThemeAmaszonas
{
    background-position: -134px -222px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvCODragAreaExpand_ThemeAmaszonas
{
    background-position: -120px -222px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvCOFilterCollapse_ThemeAmaszonas
{
    background-position: -69px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOFilterExpand_ThemeAmaszonas
{
    background-position: -23px -46px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCollapsedButton_ThemeAmaszonas
{
    background-position: -148px -222px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvCollapsedButtonRtl_ThemeAmaszonas
{
    background-position: -187px -222px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvDetailCollapsedButton_ThemeAmaszonas
{
    background-position: -78px -237px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvDetailCollapsedButtonRtl_ThemeAmaszonas
{
    background-position: -143px -237px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvDetailExpandedButton_ThemeAmaszonas
{
    background-position: -104px -237px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvDetailExpandedButtonRtl_ThemeAmaszonas
{
    background-position: 0px -237px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvDragAndDropArrowDown_ThemeAmaszonas
{
    background-position: -169px -237px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropArrowLeft_ThemeAmaszonas
{
    background-position: -213px -222px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvDragAndDropArrowRight_ThemeAmaszonas
{
    background-position: -213px -205px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvDragAndDropArrowUp_ThemeAmaszonas
{
    background-position: -181px -237px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropHideColumn_ThemeAmaszonas
{
    background-position: -170px -86px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvExpandedButton_ThemeAmaszonas
{
    background-position: -200px -222px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvExpandedButtonRtl_ThemeAmaszonas
{
    background-position: -39px -237px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvFilterRowButton_ThemeAmaszonas
{
    background-position: -30px -222px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvFixedGroupRow_ThemeAmaszonas
{
    background-position: -85px -205px;
    width: 22px;
    height: 14px;
}
.dxGridView_gvHeaderFilter_ThemeAmaszonas
{
    background-position: -15px -222px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvHeaderFilterActive_ThemeAmaszonas
{
    background-position: 0px -222px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvHeaderSortDown_ThemeAmaszonas
{
    background-position: -174px -222px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvHeaderSortUp_ThemeAmaszonas
{
    background-position: -13px -237px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvHideAdaptiveDetailButton_ThemeAmaszonas
{
    background-position: -187px -103px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvParentGroupRows_ThemeAmaszonas
{
    background-position: -115px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvShowAdaptiveDetailButton_ThemeAmaszonas
{
    background-position: -68px -137px;
    width: 16px;
    height: 16px;
}
.dxGridView_WindowResizer_ThemeAmaszonas
{
    background-position: -153px -205px;
    width: 14px;
    height: 14px;
}
.dxGridView_WindowResizerRtl_ThemeAmaszonas
{
    background-position: -123px -205px;
    width: 14px;
    height: 14px;
}
.dxgvFocusedGroupRow_ThemeAmaszonas .dxGridView_gvCollapsedButton_ThemeAmaszonas
{
    background-position: -161px -222px;
    width: 12px;
    height: 12px;
}
.dxgvFocusedGroupRow_ThemeAmaszonas .dxGridView_gvCollapsedButtonRtl_ThemeAmaszonas
{
    background-position: -52px -237px;
    width: 12px;
    height: 12px;
}
.dxgvFocusedGroupRow_ThemeAmaszonas .dxGridView_gvDetailCollapsedButton_ThemeAmaszonas
{
    background-position: -65px -237px;
    width: 12px;
    height: 12px;
}
.dxgvFocusedGroupRow_ThemeAmaszonas .dxGridView_gvDetailCollapsedButtonRtl_ThemeAmaszonas
{
    background-position: -26px -237px;
    width: 12px;
    height: 12px;
}
.dxgvFocusedGroupRow_ThemeAmaszonas .dxGridView_gvDetailExpandedButton_ThemeAmaszonas
{
    background-position: -117px -237px;
    width: 12px;
    height: 12px;
}
.dxgvFocusedGroupRow_ThemeAmaszonas .dxGridView_gvDetailExpandedButtonRtl_ThemeAmaszonas
{
    background-position: -91px -237px;
    width: 12px;
    height: 12px;
}
.dxgvFocusedGroupRow_ThemeAmaszonas .dxGridView_gvExpandedButton_ThemeAmaszonas
{
    background-position: -156px -237px;
    width: 12px;
    height: 12px;
}
.dxgvFocusedGroupRow_ThemeAmaszonas .dxGridView_gvExpandedButtonRtl_ThemeAmaszonas
{
    background-position: -130px -237px;
    width: 12px;
    height: 12px;
}
.dxgvFocusedRow_ThemeAmaszonas .dxGridView_gvShowAdaptiveDetailButton_ThemeAmaszonas
{
    background-position: -68px -120px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_CTShowCustomizationWindow_ThemeAmaszonas
{
    background-position: -187px -171px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_CTShowGroupPanel_ThemeAmaszonas
{
    background-position: -170px -171px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_CTShowSearchPanel_ThemeAmaszonas
{
    background-position: -168px -205px;
    width: 14px;
    height: 14px;
}
.dxm-checked .dxGridView_gvCMClearFilter_ThemeAmaszonas
{
    background-position: -204px -171px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMClearGrouping_ThemeAmaszonas
{
    background-position: -68px -69px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMCollapseDetailRow_ThemeAmaszonas
{
    background-position: -17px -103px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMCollapseRow_ThemeAmaszonas
{
    background-position: -102px -103px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMDeleteRow_ThemeAmaszonas
{
    background-position: -153px -171px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMEditRow_ThemeAmaszonas
{
    background-position: -187px -154px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMExpandDetailRow_ThemeAmaszonas
{
    background-position: -204px -137px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMExpandRow_ThemeAmaszonas
{
    background-position: -170px -103px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMFullCollapse_ThemeAmaszonas
{
    background-position: -34px -154px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMFullExpand_ThemeAmaszonas
{
    background-position: -119px -188px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMGroupByColumn_ThemeAmaszonas
{
    background-position: -17px -137px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMNewRow_ThemeAmaszonas
{
    background-position: 0px -154px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMRefresh_ThemeAmaszonas
{
    background-position: -51px -120px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMSearchPanel_ThemeAmaszonas
{
    background-position: -90px -222px;
    width: 14px;
    height: 14px;
}
.dxm-checked .dxGridView_gvCMShowCustomizationWindow_ThemeAmaszonas
{
    background-position: -119px -137px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMShowFilterEditor_ThemeAmaszonas
{
    background-position: -183px -205px;
    width: 14px;
    height: 14px;
}
.dxm-checked .dxGridView_gvCMShowGroupPanel_ThemeAmaszonas
{
    background-position: -136px -103px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMShowSearchPanel_ThemeAmaszonas
{
    background-position: -108px -205px;
    width: 14px;
    height: 14px;
}
.dxm-checked .dxGridView_gvCMSortAscending_ThemeAmaszonas
{
    background-position: -51px -137px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMSortDescending_ThemeAmaszonas
{
    background-position: -204px -103px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMSummaryAverage_ThemeAmaszonas
{
    background-position: -153px -120px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMSummaryCount_ThemeAmaszonas
{
    background-position: -136px -120px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMSummaryMax_ThemeAmaszonas
{
    background-position: -17px -188px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMSummaryMin_ThemeAmaszonas
{
    background-position: -68px -86px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMSummarySum_ThemeAmaszonas
{
    background-position: -119px -86px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMUngroupColumn_ThemeAmaszonas
{
    background-position: -187px -120px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvFilterRowButton_ThemeAmaszonas
{
    margin-left: 8px;
}
